apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../../
patches:
  - target:
      kind: Deployment
      name: hf-embeddings-adapter
    patch: |
      - op: replace
        path: /spec/template/spec/containers/0/image
        value: ghcr.io/example/hf-embeddings-adapter:cpu-latest
