apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../../
patches:
  - target:
      kind: Deployment
      name: hf-embeddings-adapter
    patch: |
      - op: replace
        path: /spec/template/spec/containers/0/image
        value: ghcr.io/example/hf-embeddings-adapter:gpu-latest
      - op: add
        path: /spec/template/spec/containers/0/resources/limits/nvidia.com~1gpu
        value: "1"
      - op: add
        path: /spec/template/spec/nodeSelector
        value:
          accelerator: nvidia
      - op: add
        path: /spec/template/spec/tolerations
        value:
          - key: nvidia.com/gpu
            operator: Exists
            effect: NoSchedule
